{% extends 'base.html.twig' %}

{% block title %}Ajouter
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
		.field {
			margin-bottom: 10px;
		}
		#buttonBack {
			float: right;
		}
		#header {
			margin-bottom: 2%;
		}
		#myForm {
			margin-bottom: 4%;
		}
		input {}
	</style>

	<div class="example-wrapper">
		<div id="header" class="border-bottom border-primary">
			<a href="/" id="buttonBack" class="badge badge-primary">
				Retour
			</a>
			<h1 id="title">Ajouter une propriété !</h1>
			
		</div>

		<div class="alert alert-warning" role="alert">
			<strong>Attention !</strong>
			N'oubliez pas d'ajouter un utilisateur avant de créer une propriété.
		</div>


		{{ form_start(form) }}
		<div class="my-custom-class-for-errors">
			{{ form_errors(form) }}
		</div>

		<div class="form-group col" id="myForm">

			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">
						{{ form_label(form.name,'Nom') }}
						{{ form_errors(form.name) }}
					</span>
				</div>
				{{ form_widget(form.name) }}
			</div>

			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">
						{{ form_label(form.description) }}
						{{ form_errors(form.description) }}
					</span>
				</div>
				{{ form_widget(form.description) }}
			</div>

			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">
						{{ form_label(form.price,'Prix') }}
						{{ form_errors(form.price) }}
					</span>
				</div>
				{{ form_widget(form.price) }}
			</div>

			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">
						{{ form_label(form.bedNumber,'Nombre de lits') }}
						{{ form_errors(form.bedNumber) }}
					</span>
				</div>
				{{ form_widget(form.bedNumber) }}
			</div>

			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">
						{{ form_label(form.owner,'Propriétaire') }}
						{{ form_errors(form.owner) }}
					</span>
				</div>
				{{ form_widget(form.owner) }}
			</div>
		</div>

		{{ form_end(form) }}


	</div>
{% endblock %}
