{% extends 'base.html.twig' %}

{% block title %}Ajouter
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
		span {
			float: left;
			margin-right: 5px;
		}
		.form {
			margin-bottom: 10px;
		}
		#buttonBack {
			float: right;
		}
		#title {
			margin-bottom:5%;
			padding-bottom:2px;
		}
		input {}
	</style>

	<div class="example-wrapper">
		<a href="/" id ="buttonBack" class="badge badge-primary">
			Retour
		</a>

		<h1 id="title" class="text-uppercase border-bottom border-primary">Détails :</h1>

		<p>
			<span class="font-weight-bold">Nom :</span>
			{{property.name}}</p>
		<p>
			<span class="font-weight-bold">Description :</span>
			{{property.description}}</p>
		<p>
			<span class="font-weight-bold">Prix :</span>
			{{property.price}}</p>
		<p>
			<span class="font-weight-bold">Nombre de lits :</span>
			{{property.bedNumber}}</p>
		<p>
			<span class="font-weight-bold">Propriétaire :</span>
			{{property.owner.name}}</p>


	</div>
{% endblock %}
